{extend name="base"/}
{block name="content"}
<div class="full_page_photo" style="background-image: url(__STATIC__/home/images/services.jpg);">
    <div class="container">
        <section class="call_to_action">
            <h3 class="animated bounceInDown">我们以一带一路为行动方向，以聚合各种优势资源为行动目标。</h3> <br/>
            <h4 class="animated bounceInUp">我们以创建多种盈利模式为行动标准,以帮助更多有梦想的人们。</h4>
        </section>
    </div>
</div>
    <div id="main">
        <div class="container">
            <section id="services">
                <div class="hgroup">
                    <h1>商业联盟</h1>
                    <h2>共同发展，致力长远。单打独斗的时代已经过去，相互合作才是未来的生存方式。</h2>
                    <ul class="breadcrumb pull-right">
                        <li><a href="{:url('index/index')}">首页</a> <span class="divider">/</span></li>
                        <li class="active">商业联盟</li>
                    </ul>
                </div>

                <div class="row">
                    <div class="span12">
                        <div class="bs-docs-example">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a data-toggle="tab" href="#hezuo">联盟合作</a></li>
                                <li><a data-toggle="tab" href="#yaoqiu">特约商户要求</a></li>
                                <li><a data-toggle="tab" href="#youshi">联盟优势</a></li>
                                <li><a data-toggle="tab" href="#liucheng">联盟流程</a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div id="hezuo" class="tab-pane fade in active">
                                    <div class="row-fluid service_teaser">

                                        <div class="span6">
                                            <h3>Unity is strength</h3>
                                            <p>商业联盟，是未来中国商业发展的必然趋势。通过商业联盟，借助市场资源整合，依托全球名品平台进行资源经营,实现城市联盟，行业联盟，商家联盟，消费联盟，资源联盟。商家因此拓展销量，消费者降低购物成本，而我们，则收获品牌。经过两年的披荆斩棘，现如今，全球名品商家联盟正以倍增趋势迅速强大，我们有理由相信，未来的必会一片阳光。</p>
                                            <p>&nbsp;</p>
                                            <hr />
                                            <div class="row-fluid">
                                                <div class="span4 service">
                                                    <!--<figure class="span4"> <i class="icon-bullhorn blue"></i> </figure>-->
                                                    <div class="desc span11">
                                                        <h4>品牌推广</h4>
                                                        <p style="text-indent: 0;">通过全球名品平台的广告宣传有效提升商户知名度、树立品牌形象、扩大影响力。 </p>
                                                    </div>
                                                </div>
                                                <div class="span4 service">
                                                    <!--<figure class="span4"> <i class="icon-user-md blue"></i> </figure>-->
                                                    <div class="desc span11">
                                                        <h4>销量提升</h4>
                                                        <p style="text-indent: 0;">借助全球名品·阳光生活馆巨大的会员资源，可短时间迅速提高销售量，打破传统营销瓶颈。 </p>
                                                    </div>
                                                </div>
                                                <div class="span4 service">
                                                    <!--<figure class="span4"> <i class="icon-user-md blue"></i> </figure>-->
                                                    <div class="desc span11">
                                                        <h4 style="text-align: center;">诚信认可</h4>
                                                        <p style="text-indent: 0;">诚信为本、追求卓越，保持优质服务，创建良好口碑，提升商家的美誉度。 </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商户分布</h3>

                                        <div class="span6 teaser_photo">
                                            <!--<img src="images/der.jpg" alt="a" class="" /> -->
                                            <!--百度地图容器-->
                                            <iframe src="__STATIC__/home/1.html" allowtransparency="true" width="550" height="327" frameborder="0" scrolling="no"></iframe>
                                            <!--百度地图容器结束-->
                                        </div>
                                    </div>

                                    <div class="row pricing_wrapper">
                                        <h2 style="color: #0085C8;">&nbsp;&nbsp;&nbsp;新签商户</h2>
                                        <div class="span4">
                                            <div class="pricing_plan">
                                                <h3>中博道禾健康管理 <small>更新时间：2016-01-16</small></h3>
                                                <div class="the_price"><img src="__STATIC__/home/images/xinqianshanghu/shanghu1.jpg"/></div>
                                                <div class="the_offerings">
                                                    <p> <strong>名称:</strong> 四川中博道禾健康管理有限公司 </p>
                                                    <p> <strong>类型:</strong> 健康服务 </p>
                                                    <p> <strong>电话:</strong> 13548161348 </p>
                                                    <p> <strong>地址:</strong> 成都市高新区益州大道北388号8栋1单元2层202号 </p>
                                                </div>
                                                <a href="{:url('sylm/lmxq')}" class="btn btn-primary btn-large">查看详情</a>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <div class="pricing_plan">
                                                <h3>银珠园国际健康会馆 <small>更新时间：2016-01-16</small></h3>
                                                <div class="the_price"><img src="__STATIC__/home/images/xinqianshanghu/shanghu2.jpg"/></div>
                                                <div class="the_offerings">
                                                    <p> <strong>名称:</strong> 银珠园国际健康会馆 </p>
                                                    <p> <strong>类型:</strong> 健康服务 </p>
                                                    <p> <strong>电话:</strong> 13036672642 / 85095814 </p>
                                                    <p> <strong>地址:</strong> 武侯大道金履银珠国际会馆 </p>
                                                </div>
                                                <a href="{:url('sylm/lmxq')}" class="btn btn-primary btn-large">查看详情</a>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <div class="pricing_plan">
                                                <h3>怡品养生汤 <small>更新时间：2016-01-16</small></h3>
                                                <div class="the_price"><img src="__STATIC__/home/images/xinqianshanghu/shanghu3.png"/></div>
                                                <div class="the_offerings">
                                                    <p> <strong>名称:</strong> 怡品养生汤 </p>
                                                    <p> <strong>类型:</strong> 餐饮美食 </p>
                                                    <p> <strong>电话:</strong> 15883152456 </p>
                                                    <p> <strong>地址:</strong> 泽鸿路151号 </p>
                                                </div>
                                                <a href="{:url('sylm/lmxq')}" class="btn btn-primary btn-large">查看详情</a>
                                            </div>
                                        </div><p>&nbsp;</p>
                                        <a href="lianmenglist.html" class="btn btn-primary" style="float: right">更多商家</a>
                                    </div>
                                    <div class="row">
                                        <div class="span3 service text-center">
                                            <img src="__STATIC__/home/images/chi.png"/>
                                            <div class="desc">
                                                <h4>舌尖美味</h4>
                                                <p style="text-align: left;text-indent: 0;">给你挑剔的味蕾一次哑口无言的机会，在这里，以惠利的价格享受顶尖的味觉盛宴。</p>
                                            </div>
                                        </div>
                                        <div class="span3 service text-center">
                                            <img src="__STATIC__/home/images/chuan.png"/>
                                            <div class="desc">
                                                <h4>潮流前沿</h4>
                                                <p style="text-align: left;text-indent: 0;">第一时间带来国际最新潮流趋势,教你打造丰富多变的风格搭配,呈现大片级街拍风情。</p>
                                            </div>
                                        </div>
                                        <div class="span3 service text-center">
                                            <img src="__STATIC__/home/images/zhu.png"/>
                                            <div class="desc">
                                                <h4>品质居家</h4>
                                                <p style="text-align: left;text-indent: 0;">爱酒店的温馨也爱家的温暖，随时随地给你极致享受，最舒适的状态过最阳光的生活。</p>
                                            </div>
                                        </div>
                                        <div class="span3 service text-center">
                                            <img src="__STATIC__/home/images/xing.png"/>
                                            <div class="desc">
                                                <h4>平安出行</h4>
                                                <p style="text-align: left;text-indent: 0;">借力“互联网+”，便捷交通大提速，安全服务作保障，这是一出现实版的速度与激情。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="yaoqiu" class="tab-pane fade">
                                    <p>1、您的公司是具备法人资格，取得工商部门颁发的营业执照的合法经营的公司或企业；</p>
                                    <p>2、您的公司有实体的营业场所；</p>
                                    <p>3、您认可认可、遵守联盟相关制度并与联盟签约；</p>
                                    <p>4、您的品牌最好具有一定的知名度；</p>
                                    <p>5、优先加盟：星级酒店、商务酒店、茶楼会所、休闲娱乐、餐饮美食、礼仪庆典、数码电器、日用百货、连锁超市等品牌商家优先入驻。</p>
                                </div>
                                <div id="youshi" class="tab-pane fade">
                                    <p>1、地域优势</p>
                                    <p>全球消费异业联盟以杭州为根据地，首次开展项目地选择成都，在这里聚集着国内外的知名品牌，是一个综合娱乐消费旅游城市，有着丰富的商家资源及消费者。</p>
                                    <p>2 、时间优势</p>
                                    <p>当下正是李克强总理提出的 “ 大众创业，万众创新 ” 理念被推崇，各地部门贯彻落实“创新创业”观念的好时机；习近平总书记提出 “ 互联网 + ” 传统行业的资源整合新态势为联盟发展助力。</p>
                                    <p>3 、模式优势</p>
                                    <p>总公司、代理商、消费商、特约商户、全球阳光会馆五大主体互相合作，提高竞争力，共同发展进步，共享资源，共荣共利。大循环制、分盘制、紧缩制、激励制、积分制五大模式是公司领导经过多方考量和多年市场研究后提出的具有快速发展性、可持续发展性的最具竞争力的市场模式，发展空间巨大。</p>

                                </div>
                                <div id="liucheng" class="tab-pane fade">
                                    <div class="row">
                                        <div class="span6" style="line-height: 25px;">
                                            <strong>【全球阳光会馆申请流程】</strong><br/>

                                            1、了解全球消费异业联盟和全球样阳光会馆的相关信息<br/>

                                            2、市场调研<br/>
                                            3、填写《全球消费异业联盟全球阳光会馆申请表》提出申请，由公司审核<br/>
                                            （会馆区县级可加盟，省级以上公司直营）<br/>

                                            4、审核通过后，申请人及直接领导人参加培训<br/>
                                            5、签订协议，授予加盟商牌匾、授权书等重要商业要素<br/>
                                            6、按照全球阳光会馆样板房进行装修<br/>
                                            7、全球阳光会馆（区县店）正式开业<br/>
                                            8、后续运营技术指导与跟踪服务

                                        </div>
                                        <div class="span6" style="line-height: 25px;">
                                            <strong>【全球名品·阳光生活馆加盟流程】</strong><br/>

                                            1、了解全球名品·阳光生活馆相关信息<br/>
                                            2、市场调研<br/>

                                            3、填写《加盟申请表》提出加盟申请，由公司审核<br/>
                                            4、审核通过后，加盟商参加培训<br/>
                                            5、通过培训考核<br/>
                                            6、签订加盟协议，授予加盟商牌匾、授权书等重要商业要素<br/>
                                            7、按照全球名品·阳光生活馆样板房进行装修<br/>
                                            8、全球名品·阳光生活馆加盟店正式开业<br/>
                                            9、加盟店后续运营技术指导与跟踪服务
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="span6" style="line-height: 25px;">
                                            <strong>【特约商家合作流程】</strong><br/>

                                            1、了解全球消费异业联盟<br/>
                                            2、市场调研<br/>
                                            3、填写《全球消费异业联盟特约商户申请表》提出申请，由公司审核<br/>
                                            4、审核通过后，签订合作协议<br/>
                                            5、授予特约商家相应牌匾、证书等重要商业要素<br/>
                                            6、特约商家后期跟踪服务
                                        </div>
                                        <div class="span6" style="line-height: 25px;">
                                            <strong>【阳光熊猫俱乐部会员申请】</strong><br/>

                                            1、了解全球消费异业联盟和阳光熊猫俱乐部的相关信息<br/>
                                            2、填写《阳光熊猫俱乐部会员申请表》提出申请，由全球阳光会馆审核<br/>
                                            3、审核通过后，授予阳光熊猫俱乐部会员卡（会员卡需缴纳100元）<br/>
                                            4、成为会员并可享受阳光熊猫俱乐部提供的一系列会员活动和会员服务；<br/>
                                            5、同时拥有加入全球消费异业联盟成为代理商、消费商的资格

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

{/block}