{extend name="base"/}
{block name="content"}
<div id="main">
    <div class="container">
        <section id="blog">
            <div class="hgroup">
                <h1>商业联盟</h1>

                <h2>共同发展，致力长远。单打独斗的时代已经过去，相互合作才是未来的生存方式。</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">首页</a> <span class="divider">/</span></li>
                    <li><a href="shangyelianmeng.html">商业联盟</a> <span class="divider">/</span></li>
                    <li class="active">特约商户</li>
                </ul>
            </div>
            <div class="row">
                <div id="leftcol" class="span8">
                    <div class="row">
                        <figure class="span2"> <img class="img-circle" src="__STATIC__/home/images/xinqianshanghu/shanghu1.jpg" alt=""> </figure>
                        <div class="span6">
                            <h4><a href="{:url('sylm/lmxq')}">四川中博道禾健康管理有限公司</a></h4>
                            <div class="comment_name"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2016-01-16.&nbsp;&nbsp;&nbsp;作者：张洁 </div>
                            <!--<div class="comment_date"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2015-01-21</div>-->
                            <div class="the_comment">
                                <span>商家类型：健康服务业</span><br/>
                                <span>联系电话：13548161348</span><br/>
                                <span>商家地址：成都市高新区益州大道北388号8栋1单元2层202号</span><br/>
                                <span>商家优惠: 详见合同...</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <figure class="span2"> <img class="img-circle" src="__STATIC__/home/images/xinqianshanghu/shanghu2.jpg" alt=""> </figure>
                        <div class="span6">
                            <h4><a href="{:url('sylm/lmxq')}">银珠园国际健康会馆</a></h4>
                            <div class="comment_name"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2016-01-16.&nbsp;&nbsp;&nbsp;作者：张洁 </div>
                            <div class="the_comment">
                                <span>商家类型：生活服务</span><br/>
                                <span>联系电话：13036672642 / 85095814</span><br/>
                                <span>商家地址：武侯大道金履银珠国际会馆</span><br/>
                                <span>商家优惠: 详见合同...</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <figure class="span2"> <img class="img-circle" src="__STATIC__/home/images/xinqianshanghu/shanghu3.png" alt=""> </figure>
                        <div class="span6">
                            <h4><a href="{:url('sylm/lmxq')}">怡品养生汤</a></h4>
                            <div class="comment_name"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2016-01-16. &nbsp;&nbsp;&nbsp;作者：张洁 </div>
                            <div class="the_comment">
                                <span>商家类型：餐饮美食</span><br/>
                                <span>联系电话：15883152456</span><br/>
                                <span>商家地址：泽鸿路151号</span><br/>
                                <span>商家优惠: 详见合同...</span>
                            </div>
                        </div>
                    </div>

                    <div class="pagination pagination-centered">
                        <ul>
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
                <div id="sidebar" class="span4">
                    <aside class="widget">
                        <h4>类 别</h4>
                        <ul class="nav nav-tabs nav-stacked">
                            <li class="active"><a href="#">特约商户</a></li>
                            <li><a href="#">星级酒店</a></li>
                            <li><a href="#">商务酒店</a></li>
                            <li><a href="#">茶楼会所</a></li>
                            <li><a href="#">休闲娱乐</a></li>
                            <li><a href="#">餐饮美食</a></li>
                            <li><a href="#">礼仪庆典</a></li>
                            <li><a href="#">数码电器</a></li>
                            <li><a href="#">生活服务</a></li>
                        </ul>
                    </aside>
                    <aside class="widget">
                        <h4>商业联盟</h4>
                        <p>商业联盟，是未来中国商业发展的必然趋势。通过商业联盟，借助市场资源整合，依托全球名品平台进行资源经营,实现城市联盟，行业联盟，商家联盟，消费联盟，资源联盟。商家因此拓展销量，消费者降低购物成本，而我们，则收获品牌。</p>
                    </aside>
                    <aside class="widget">
                        <h4>特约商户</h4>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a data-toggle="tab" href="#recent">新签商家</a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div id="recent" class="tab-pane fade active in">
                                <ul class="media-list">
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(images/xinqianshanghu/shanghu1.jpg)"></a> <a href="#" class="media-date">16<span>2016/01</span></a>
                                        <h5 class="media-heading"><a href="#">四川中博道禾健康管理有限公司</a></h5>
                                        <span>商家类型：健康服务业</span><br/>
                                        <span>联系电话：13548161348</span><br/>
                                        <span>商家地址：成都市高新区益州大道北388号8栋1单元2层202号</span>
                                    </li>
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(images/xinqianshanghu/shanghu2.jpg)"></a> <a href="#" class="media-date">16<span>2016/01</span></a>
                                        <h5 class="media-heading"><a href="#">银珠园国际健康会馆</a></h5>
                                        <span>商家类型：生活服务</span><br/>
                                        <span>联系电话：13036672642 / 85095814</span><br/>
                                        <span>商家地址：武侯大道金履银珠国际会馆</span>
                                    </li>
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(images/xinqianshanghu/shanghu3.png)"></a> <a href="#" class="media-date">16<span>2016/01</span></a>
                                        <h5 class="media-heading"><a href="#">怡品养生汤</a></h5>
                                        <span>商家类型：餐饮美食</span><br/>
                                        <span>联系电话：15883152456</span><br/>
                                        <span>商家地址：泽鸿路151号</span>
                                    </li>

                                </ul>
                            </div>
                            <!--<div id="tags" class="tab-pane fade"> <a class="label">Default</a> <a class="label label-success">Success</a> <a class="label label-warning">Warning</a> <a class="label label-important">Important</a> <a class="label label-info">Info</a> <a class="label label-inverse">Inverse</a> <a class="label">Default</a> <a class="label label-success">Success</a> <a class="label label-important">Important</a> <a class="label label-info">Info</a> <a class="label label-inverse">Inverse</a> <a class="label">Default</a> <a class="label label-success">Success</a> <a class="label label-success">Success</a> <a class="label label-warning">Warning</a> <a class="label label-important">Important</a> <a class="label label-warning">Warning</a> <a class="label label-warning">Warning</a> <a class="label label-important">Important</a> <a class="label label-info">Info</a> <a class="label label-inverse">Inverse</a> </div>-->
                        </div>
                    </aside>
                    <aside class="widget ads clearfix">
                        <h4>战略合作伙伴</h4>
                        <a href="#"><img src="__STATIC__/home/images/portfolio/news/huiguan.png" alt="" /></a>
                        <a href="#"><img src="__STATIC__/home/images/portfolio/news/qqyg.png" alt="" /></a>
                        <a href="#"><img src="__STATIC__/home/images/portfolio/news/qqygmp.png" alt="" /></a>
                        <a href="#"><img src="__STATIC__/home/images/portfolio/news/qqygsy.png" alt="" /></a>
                    </aside>

                </div>
            </div>
        </section>
    </div>
{/block}