{extend name="base"}
{block name="content"}
<div class="full_page_photo" style="background-image: url(__STATIC__/home/images/about_us.jpg);">
    <div class="container">
        <section class="call_to_action">
            <h3 class="animated bounceInDown">我们勇于创新、积极向上，关爱他人、传递正能量。</h3>
            <h4 class="animated bounceInUp">我们选择低碳环保，健康乐活是我们的诉求。</h4>
        </section>
    </div>
</div>
<div id="main">
    <div class="container">
        <section id="about_us">
            <div class="hgroup">
                <h1>关于我们</h1>
                <h2>We are a group of people who dream, the dream is the sun.</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{:url('index/index')}">首页</a> <span class="divider">/</span></li>
                    <li class="active">关于我们</li>
                </ul>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="bs-docs-example">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a data-toggle="tab" href="#guanyu">关于我们</a></li>
                            <li><a data-toggle="tab" href="#jianjie">企业简介</a></li>
                            <li><a data-toggle="tab" href="#wenhua">企业文化</a></li>
                            <li><a data-toggle="tab" href="#zhanshi">形象展示</a></li>
                            <li><a data-toggle="tab" href="#zhaopin">人才招聘</a></li>
                            <li><a data-toggle="tab" href="#bangzhu">帮助中心</a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div id="guanyu" class="tab-pane fade in active">
                                <article>
                                    <div class="row">
                                        <div class="span9">
                                            <p align="left" style="height:220px;line-height:20px;margin:0;overflow-y:auto; overflow-x:hidden;text-indent: 0;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;马克思主义劳动价值论中，马克思提到“劳动创造价值”。自此以后，这个命题被大家不断研讨，有人赞成，有人反对。不过，我们可以肯定的是，这肯定不是一个伪命题，“劳动首先是人和自然之间的过程，是人以自身的活动来引起、调整和控制人和自然之间的物质变换的过程。”通过劳动，人类首先创造了使用价值，或者讲，通过具体劳动的形式，人类创造了劳动产品中的自然性效用。这说明，在具体劳动后人类的体能转化为产品的自然功能。<br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;但随着时代的发展，科技的进步，互联网的普及以及消费资本论的冲击，“劳动创造价值”这一命题渐渐淡出人们的视野，取而代之的是一个全新的命题，“消费创造价值”。消费力经济研究院院长应光荣教授就《消费资本化论纲》做了主题演讲：中国经济的腾飞，改变了全球格局，推动了世界进入了“消费者主导的时代”。以消费为本的消费资本论，推动经济发展从生产向消费的复归；恢复消费在经济学中与生产的平等地位；并以“回到消费本身”的方式，实现经济学现代性向后现代性的转变。<br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;那么问题就来了，到底这两个命题谁真谁假？其实，人们都想的太复杂了，很简单的问题，劳动创造价值不错，但通过劳动创造出来的商品，没有人购买使用，又如何产生价值呢；相反，没有劳动创造商品以供人购买，又如何产生价值呢？再则，难道我通过联系人脉，联系消费者和商家，这个过程就不是劳动了吗？所以，人们无需在两者命题中非要选择其一，在新的时代，只有劳动+消费才能创造最大的价值，而最大的价值能带来最大的财富。<br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;四川全球名品电子商务股份有限公司的领导人在此价值理论上进行思索和研究，推出了移动互联网平台+电子商务+产品配送+消费商的经营模式；并引头全球消费异业联盟的成立，将商家、厂家、消费者及经销商、代理商连为一体，通过代理制、会员互动制、矩阵制、排序制（非常10+1）、分盘制、激励制、积分制、签约制、股权制等30多种激励机制以及具有前瞻性的营销策略，将劳动和消费相加，创建多方盈利的新系统、新经营模式。<br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全球名品将以开发品牌产品及品牌实业为主体，将投资开发阳光熊猫系列产业包括：阳光熊猫中国城、阳光熊猫国际机场、阳光熊猫精品城、阳光熊猫产业园、阳光熊猫生态农业、阳光熊猫汽车城、阳光熊猫家园等上百种跨行业的商城，开发产业范围涉及互联网经济、生态环保、健康、影视制作、现代工业，医疗卫生及食品等。经营范围包括电子商务网上购物、微商城、全球消费异业联盟、熊猫币、连锁经营、产业链众筹联盟、股权基金。（连锁经营主要包括直营连锁、特许经营、社区代理。特许经营加盟包括加盟连锁、合资连锁、独资连锁）<br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司的运营模式是专家运筹帷幄下的科学的运营模式，是能够带领公司及会员实现共赢的运营模式，也是值得推敲的有未来的运营模式。新的时代，让我们通过劳动+消费，创造价值，带来财富。
                                            </p>
                                        </div>
                                        <div class="span3">
                                            <strong style="color: #0085C8;font-size: 18px;line-height: 25px;">Enterprise<cite title="Source Title"> Idea</cite></strong>
                                            <p style="text-indent: 0;"><strong>精品：用一流产品创品质生活</strong></p>
                                            <p style="text-indent: 0;"><strong>使命：宣扬健康生态，奉献人文关怀</strong></p>
                                            <p style="text-indent: 0;"><strong>创新：思路决定出路，创新引领未来</strong></p>
                                            <p style="text-indent: 0;"><strong>市场：汇聚科技精华，缔造阳光生活</strong></p>
                                            <p style="text-indent: 0;"><strong>服务：服务创造价值，专业赢得信任</strong></p>
                                            <p style="text-indent: 0;"><strong>思想：阳光、生态、健康、财富、和谐、关爱</strong></p>
                                        </div>
                                    </div>
                                    <section class="call_to_action"> <img alt="responsive" src="__STATIC__/home/images/star.png" />
                                        <h3><a href="tdxiangqing.html">团队风采</a></h3>
                                        <!--<h4>mouse over our team photos to see a cool effect!</h4>-->
                                    </section>
                                    <h2 class="section_header">我们真的爱我们所做的，总是试图给你最好的！</h2>
                                    <div class="row">
                                        <div class="span3 team_member">
                                            <figure style="background-image: url(__STATIC__/home/images/1b.jpg)"><img src="__STATIC__/home/images/1a.jpg" alt="1a" /></figure>
                                            <h5>以柔克刚篇</h5><h5>浙江团队</h5>
                                            <hr />
                                            <p class="short_bio" style="text-indent: 0;">“海上丝绸之路”东方始发港上崛起的全新阵容，以友善待人处事，以诚信做人做事，以成果服人成事。如丝绸般丝滑，但却柔中带刚，成绩颇丰。</p>
                                        </div>
                                        <div class="span3 team_member">
                                            <figure style="background-image: url(__STATIC__/home/images/2b.jpg)"><img src="__STATIC__/home/images/2a.jpg" alt="2a" /></figure>
                                            <h5>重磅出击篇</h5><h5>重庆团队</h5>
                                            <hr />
                                            <p class="short_bio" style="text-indent: 0;">“渝水”养育下的火辣团队，雷厉风行的做事风格成为重庆团队的代表，重庆团队总是能在准确地时机果断出击，收获成功是大势所趋。</p>
                                        </div>
                                        <div class="span3 team_member">
                                            <figure style="background-image: url(__STATIC__/home/images/3b.jpg)"><img src="__STATIC__/home/images/3a.jpg" alt="3a" /></figure>
                                            <h5>出其不意篇</h5><h5>四川团队</h5>
                                            <hr />
                                            <p class="short_bio" style="text-indent: 0;">机智如我，“天府之国”的团队拥有其他人不可比拟的聪明才智，找准市场商机，看到未被开发的黄金市场漏洞，以最少的投资收获最大的成就。</p>
                                        </div>
                                        <div class="span3 team_member">
                                            <figure style="background-image: url(__STATIC__/home/images/4b.jpg)"><img src="__STATIC__/home/images/4a.jpg" alt="4a" /></figure>
                                            <h5>运畴帷幄篇</h5><h5>天津团队</h5>
                                            <hr />
                                            <p class="short_bio" style="text-indent: 0;">眼光敏锐，善于筹划，未雨绸缪固然重要，随机应变也是团队成功发展的关键，天津团队将两者完美掌控，市场趋势准确把控，也将成功牢牢握住。</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div id="jianjie" class="tab-pane fade">
                                <div class="row">
                                    <div class="span4"><img src="__STATIC__/home/images/aboutImg.jpg" style="width: 100%;height: 220px;"/></div>
                                    <div class="span8">
                                        <p>全球名品电子商务股份有限公司秉承“以名品打造品牌，以品牌创造未来”的企业愿景，自2014年首批平台在成都落地，一直坚持“阳光、生态、健康、财富、和谐、关爱”六大主题文化，坚持阳光国际系统，传承阳光熊猫文化，为广大民众提供全球优质商品和服务，为广大创业人士提供事业机会，实现大众创业，万众创新。</p>
                                        <p>四川全球名品电子商务股份有限公司是中国全球阳光集团与中国大熊猫产业集团等机构共同组建，从全球上百多个国家精选出上千种名品，选用移动互联网平台+电子商务+产品配送+消费商的经营模式，在全球名品电子商务平台上、微商城、阳光生活馆上推广和传播。现如今，四川全球名品电子商务平台已经成为中国首屈一指的知名品牌开发、传播、运营及推广为一体的综合性电子商务平台。<p>
                                        <p>下一步，全球名品电子商务将投资开发阳光熊猫系列产业包括：阳光熊猫中国城、阳光熊猫国际机场、阳光熊猫精品城、阳光熊猫产业园、阳光熊猫生态农业、阳光熊猫汽车城、阳光熊猫家园等上百种跨行业的商城，开发产业范围涉及到：互联网经济、生态环保、健康、影视制作、现代工业，医疗卫生及食品等。</p>
                                    </div>
                                </div>

                            </div>
                            <div id="wenhua" class="tab-pane fade">
                                <p>*公司使命：创建阳光熊猫中国城，提供大众创业、共享全球优质商品的平台</p>
                                <p>*公司愿景：全球阳光行，阳光熊猫梦</p>
                                <p>*公司主题：阳光、生态、健康、财富、和谐、关爱</p>
                                <p>*公司宗旨：为民服务，实业报国</p>
                                <p>*企业精神：诚信为本、团结协作、追求卓越、圆梦幸福</p>
                                <p>*经营方针：客户至上、服务从优、系统运作、利益共享</p>
                                <p>*市场观念：汇聚科技精华，缔造阳光生活</p>
                                <p>*首推品牌：阳光熊猫</p>
                                <p>*质量观念：严苛标准、精益求精、权威环保、有益健康</p>
                                <p>*服务观念：服务创造价值，专业赢得信任</p>


                                <p>*学习观念：善于总结、力求突破、永不满足、奋斗不止</p>
                                <p>*创新观念：思路决定出路，创新引领未来</p>
                                <p>*危机观念：清醒认知、时刻警惕、实事求是、沉淀积累、把握机遇、寻求突破</p>
                                <p>*国际观念：开拓视野、运筹帷幄、解放思想、勇攀高峰</p>
                                <p>*精品观念：市场标准是最高标准，用一流产品创品质生活</p>
                                <p>*工作观念：节约惜时，精干高效，合作才能共赢</p>
                                <p>*道德观念：正直友善、诚信协作、权责分明、光明磊落</p>
                                <p>*家庭观念：公司是小家、社会是大家，立小家建大家</p>
                                <p>*人才理念：德才兼备，内外并重；任人唯贤，敬业为本；分工合作，团队优先；学无止境，发散思维</p>
                                <p>*管理观念：以理服人，以制度化管理推进发展</p>
                            </div>
                            <div id="zhanshi" class="tab-pane fade">

                                <iframe src="__STATIC__/home/3D/index.html" height="650" width="1170" frameborder="no" border="0"></iframe>
                                <!--</div>-->
                            </div>
                            <div id="zhaopin" class="tab-pane fade">
                                <div class="row">
                                    <div class="span7">
                                        <img src="__STATIC__/home/images/1a.jpg" style="width: 670px;height: 350px;"/>
                                    </div>
                                    <div class="span5">
                                        《路》<br/>
                                        你向我打听前面的路吗？<br/>
                                        我说，它险峻又崎岖，想走过它，要准备做出一定的牺牲。<br/>
                                        于是，你胆怯了！<br/>
                                        我说，他坎坷难行，要走过它，要拼得一身筋骨酸痛。<br/>
                                        于是，你踟蹰了！<br/>
                                        我说，他笔直平坦，走过它，愉快轻松。<br/>
                                        于是，你笑了，笑得那么甜。<br/>
                                        可是，在这世界上，有谁见过，又有谁走过这种始终笔直而平坦的路呢？<br/>
                                        你说，你无路可走，十分苦恼。<br/>
                                        我说，你坐在舒适的沙发上，哪也不想去，要路做什么？<br/>
                                        你说，你不知道你的路在什么地方?<br/>
                                        我说，在你起步之前，世界上的路没有一条是你的。<br/>
                                        你说，山路，险路，正路，邪路······世界上何必要那么多的路！<br/>
                                        我说，其实对你来说，一条就够了。难道你真的看不清那条是你该走的路吗？<br/>


                                    </div>

                                </div>
                                <div class="row" style="margin-top: 30px;">
                                    <div class="span5">
                                        躺在沙发上享受阳光固然是舒适而惬意的，但亲爱的朋友们，<br/>
                                        这并不是我们生而为人的目的，<br/>
                                        请带着你的世界来和我们谈谈吧，<br/>
                                        谈谈理想，谈谈抱负，谈谈未来······<br/>
                                        不论是懵懂易错的青年，或者是渴望激情冒险的资深人士，<br/>
                                        与其在沙发里睡过人生，不如和我们一起创造值得回忆的现在！<br/>
                                        自己的路自己走，但你会有一群陪你拼搏在路上的人，<br/>
                                        自己的人生自己书写，但你会有一群为你增光添彩的战友。<br/>
                                        来全球名品，我们一起走！<br/>
                                    </div>
                                    <div class="span7">
                                        <img src="__STATIC__/home/images/1b.jpg" style="width: 670px;height: 350px;"/>
                                    </div>
                                </div>

                                <div class="bs-docs-example">
                                    <div id="accordion2" class="accordion">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <table class="table table-bordered table-striped"  style="margin-top: 30px;">
                                                    <thead>
                                                    <tr>
                                                        <th width="80">编号</th>
                                                        <th>招聘职位</th>
                                                        <th>招聘人数</th>
                                                        <th>发布时间</th>
                                                        <th style="text-indent: 1em;">详细信息</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>WEB前端高级工程师</td>
                                                        <td>1</td>
                                                        <td>2016-03-03</td>
                                                        <td><a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"> 查看详情</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>PHP高级工程师</td>
                                                        <td>1</td>
                                                        <td>2016-03-03</td>
                                                        <td><a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"> 查看详情 </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>平面设计</td>
                                                        <td>1</td>
                                                        <td>2016-03-03</td>
                                                        <td><a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"> 查看详情 </a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="accordion-body collapse " id="collapseOne">
                                                <div class="accordion-inner" style="margin: 0;padding: 0;">
                                                    <table class="table table-bordered table-striped">

                                                        <tr>
                                                            <td class="span2"><strong>职位名称</strong></td>
                                                            <td class="span4">web前端高级工程师</td>
                                                            <td class="span2"><strong>职位类型</strong></td>
                                                            <td class="span4">全职</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>招聘人数</strong></td>
                                                            <td>1人</td>
                                                            <td><strong>招聘部门</strong></td>
                                                            <td>电子商务部</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>性别要求</strong></td>
                                                            <td>不限</td>
                                                            <td><strong>工作经验</strong></td>
                                                            <td>1-3年</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>学历要求</strong></td>
                                                            <td>大专及以上</td>
                                                            <td><strong>工作地点</strong></td>
                                                            <td>成都市一环路东五段87号阳光新业中心2号楼3711</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>任职资格</strong></td>
                                                            <td colspan="3">XXXXXXXXxxxxxxxXXXXXXXXXxxxxRRRRRRxxxxxxxxxxxxxx</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>岗位职责</strong></td>
                                                            <td colspan="3">xxxxXXXXXXXXXxxxxxxxxxxDxxxxxxxxxxxxxxxx</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>薪资待遇</strong></td>
                                                            <td colspan="3">xxxxxxxXXDDDDxxxxxxxxxxx</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="accordion-body collapse " id="collapseTwo">
                                                <div class="accordion-inner" style="margin: 0;padding: 0;">
                                                    <table class="table table-bordered table-striped">

                                                        <tr>
                                                            <td class="span2"><strong>职位名称</strong></td>
                                                            <td class="span4">PHP高级工程师</td>
                                                            <td class="span2"><strong>职位类型</strong></td>
                                                            <td class="span4">全职</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>招聘人数</strong></td>
                                                            <td>3人</td>
                                                            <td><strong>招聘部门</strong></td>
                                                            <td>电子商务部</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>性别要求</strong></td>
                                                            <td>不限</td>
                                                            <td><strong>工作经验</strong></td>
                                                            <td>1-3年</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>学历要求</strong></td>
                                                            <td>大专及以上</td>
                                                            <td><strong>工作地点</strong></td>
                                                            <td>成都市一环路东五段87号阳光新业中心2号楼3711</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>任职资格</strong></td>
                                                            <td colspan="3">xxxxxxxxxxxxxxxTTTTTTxxxxxxxXXXXXXXXxxx</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>岗位职责</strong></td>
                                                            <td colspan="3">xXXXXXXXXXxxxxxXXXXXXXXXXXXxxxxxxxxxTTTTTTTTTTxxxxxxxxxxxxxxx</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>薪资待遇</strong></td>
                                                            <td colspan="3">XXXXXXXxxxxxXTTTTTxxxxxXXXXXXXxxxxxxxx</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="accordion-body collapse" id="collapseThree">
                                                <div class="accordion-inner" style="margin: 0;padding: 0;">
                                                    <table class="table table-bordered table-striped">

                                                        <tr>
                                                            <td class="span2"><strong>职位名称</strong></td>
                                                            <td class="span4">平面设计</td>
                                                            <td class="span2"><strong>职位类型</strong></td>
                                                            <td class="span4">全职</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>招聘人数</strong></td>
                                                            <td>1人</td>
                                                            <td><strong>招聘部门</strong></td>
                                                            <td>电子商务部</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>性别要求</strong></td>
                                                            <td>不限</td>
                                                            <td><strong>工作经验</strong></td>
                                                            <td>1-3年</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>学历要求</strong></td>
                                                            <td>大专及以上</td>
                                                            <td><strong>工作地点</strong></td>
                                                            <td>成都市一环路东五段87号阳光新业中心2号楼3711</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>任职资格</strong></td>
                                                            <td colspan="3">xxxxxxxxxxxxxUUUUUUxxxxxxxXXXXXXXXxxxxx</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>岗位职责</strong></td>
                                                            <td colspan="3">xxxxxxxxxxxxxxxXXXXXXXXXXxxxxxIIIIIIIIIIxxxxxxxxxx</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>薪资待遇</strong></td>
                                                            <td colspan="3">xxxxxXXXXXXXXXxxxxxxUUUUxxxxxxx</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="bangzhu" class="tab-pane fade">
                                1、本网站建议使用UTF-8网页编码。<br/>

                                2、如何检索本站的信息?<br/>
                                您只需要在本站网页上方的搜索框内输入关键词，点击“搜索”按钮，即可实现检索。<br/>

                                3、如何收藏当前网页?<br/>
                                您只需要在网页浏览器中点击“收藏—添加到收藏夹”，可以修改网页的保存名称后，点击“确定”。<br/>

                                4、浏览时页面出现乱码如何处理?<br/>
                                在浏览网页时如出现乱码，您可以检查浏览器的“编码”设置，确保选择“Unicode（UTF-8）”。<br/>

                                5、网站布局混乱或网站动态没有出现如何处理？<br/>
                                建议更换高版本浏览器或主流浏览器，如：火狐、谷歌等。<br/>

                                6、如何才能成为消费异业联盟的代理商？<br/>
                                （1）认同全球消费异业联盟和系统，遵守联盟规章和制度；<br/>
                                （2）成为全球阳光会馆会员；<br/>
                                （3）与联盟签订授权协议书。<br/>
                                7、如何成为消费商？<br/>
                                首先要自己主动申请办理会员卡后，便拥有了三重身份（三重身份是指：消费者、会员、商务代表），享受相应身份的返点、积分返还、活动和服务等权利。<br/>

                                8、成为特约商户的条件？<br/>
                                （1）取得工商部门颁发的营业执照；<br/>
                                （2）有实体营业场所；<br/>
                                （3）认可、遵守联盟相关制度并与联盟签约；<br/>
                                （4）特约商户（或负责人）成为消费商（便具有消费商的权利）。<br/>

                                9、商务中心是什么？<br/>
                                商务中心由阳光会馆形式组成，公司直营或由各省分公司授权给省内各会馆，负责会员资料管理；<br/>
                                会员活动策划和执行；商务服务；现场经营服务（分VIP区和普通会员区）；全球阳光商业联盟工程。<br/>

                                10、全球消费异业联盟和传统商务联盟的区别<br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

{/block}