{extend name="base"}
{block  name="content"}

<div class="centBox">
    <div class="neiye clearfix">
        {include file="public/left"/}
             <div class="neiyeR">
            <div class="neiBT">
                <span class="mianT_span">产品介绍 | PRODUCTS</span>
            </div>
            <div class="product">
            {foreach name='field' key='key' item='vo'}
                <div class="product_top">
                  <div class="product_name">
                        <img src="{$vo['image']}" width="396" height="277" alt="" />
                  </div>
                    <div class="product_info">
                      <p class="prod_bt">中江柚</p>
                      <p>{$vo['leibie']}</p>
                      <p>{$vo['guige']}</p>
                      <p>{$vo['chandi']}</p>
                      <p>{$vo['jiage']}</p>
                      <p>{$vo['shijian']}</p>
                      <p class="prod_pad">
                            <span class="l">购买数量：</span>
                            <a href="#" class="prod_jia"></a>
                            <input name="" type="text" class="prod_tetx" />
                            <a href="#" class="prod_jian"></a>                            
                      </p>
                      <p><a href="#" class="prod_dg"></a></p>
                    </div>
                </div>
                <div class="proTd">
                    <div class="proTd_top">
                        产品特点
                    </div>
                    <div class="proTd_yte">
                      {$vo['tedian']}
                    </div>
                </div>
            </div>
              {/foreach}
      </div>
    </div>
</div>
<script>
    var imgs=["__STATIC__/index/text/2.gif","__STATIC__/index/text/1.gif","__STATIC__/index/text/3.gif",]
    var btns=document.getElementById("btns").getElementsByTagName("a");
    var targetImg=document.getElementById("targetImg");
    var timer;
    for(var i=0;i<btns.length;i++)
    {
        btns[i].id=i;
        btns[i].onmouseover=function(){
            targetImg.src=imgs[this.id];
            index=this.id;
            for(var i=0;i<btns.length;i++)
            {
                btns[i].style.background="#FFF";
            }
            btns[index].style.background="red";
            window.clearInterval(timer);
        }
        btns[i].onmouseout=function(){
            timer=setInterval(nextimg,3000);
        }
    }
    var index=0;
    function nextimg()
    {
        if(index>btns.length-1)
        {
            index=0;
        }
        targetImg.src=imgs[index];

        for(var i=0;i<btns.length;i++)
        {
            btns[i].style.background="#FFF";
        }
        btns[index].style.background="red";
        index++;
    }
    timer=setInterval(nextimg,3000);
    var img = document.getElementsByClassName('imgonmouse');
    var time = null;
    for(i=0;i<img.length;i++){
        img[i].onmouseover=function(){
            clearInterval(time);
            movein(this);
        }
        img[i].onmouseout=function(){
            clearInterval(time);
            moveout(this);
        }

    }
    function movein(img){
        var x = 0;
        time = setInterval(function(){
            x++;

            if(x>10){
                x=10;
            }
            img.style.backgroundPositionX = (-x) + "px";
        },10);
    }
    function moveout(img){
        var x = 5;
        time = setInterval(function(){
            x--;

            if(x<0){
                x=0;
            }
            img.style.backgroundPositionX = (-x) + "px";
        },10);
    }

</script>
{/block}