{extend name="base"}
{block name="content"}
<div id="main">
    <div class="container">
        <section id="blog">
            <div class="hgroup">
                <h1>新闻资讯</h1>
                <h2>知己知彼，百战不殆。在这里掌控最新的行业资讯和公司资讯，掌控阳光时尚新生活！</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{:url('index/index')}">首页</a> <span class="divider">/</span></li>
                    <li><a href="{:url('news/index')}">新闻资讯</a> <span class="divider">/</span></li>
                    <li class="active">行业资讯</li>
                </ul>
            </div>
            <div class="row">
                <div id="leftcol" class="span8">
                    <div class="row">
                        <figure class="span2"> <img class="img-circle" src="__STATIC__/home/images/portfolio/news/newslist2_1.jpg" alt=""> </figure>
                        <div class="span6">
                            <h4><a href="{:url('news/newsxq')}">商务部：2015年跨境电子商务增速高达30%</a></h4>
                            <div class="comment_name"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2015-01-20.&nbsp;&nbsp;&nbsp;作者：张洁 </div>
                            <!--<div class="comment_date"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2015-01-21</div>-->
                            <div class="the_comment">
                                <p>据中国之声《央广新闻》报道，商务部发布2015年商务运行情况并回应热点问题，我们先来看内贸的情况，2015年国内消费市场的运行总体平稳，并且呈现前低后高，小幅波动的态势。全年实现社会消费品零售总额是30.1万亿元，同比增长10.7%  ...</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <figure class="span2"> <img class="img-circle" src="__STATIC__/home/images/portfolio/news/newslist2_2.png" alt=""> </figure>
                        <div class="span6">
                            <h4><a href="{:url('news/newsxq')}">LV状告淘宝店主 奢侈品打假铺路自家电商</a></h4>
                            <div class="comment_name"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2015-01-20. &nbsp;&nbsp;&nbsp;作者：张洁 </div>
                            <div class="the_comment">
                                <p> 国际著名奢侈品牌路易威登(以下简称“LV”)与小小的淘宝商家对簿公堂。一场看似难以匹配的官司背后，显现出假货对于奢侈品牌已是如鲠在喉。在诸多大牌奢侈品发力电商的抉择期，一场电商与品牌的“联吴抗曹”大戏上演，阿里的“清场”也为将来奢侈品牌入驻加大筹码...</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <figure class="span2"> <img class="img-circle" src="__STATIC__/home/images/portfolio/news/newslist2_3.jpg" alt=""> </figure>
                        <div class="span6">
                            <h4><a href="{:url('news/newsxq')}">2015年电商10大盘点：朋友圈搞电商没戏</a></h4>
                            <div class="comment_name"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2015-01-18. &nbsp;&nbsp;&nbsp;作者：张洁 </div>
                            <div class="the_comment">
                                <p>大大小小电商都遭遇着流量瓶颈，维持高速增长愈发艰难。阿里缺流量，垂直巨头唯品会聚美也缺流量，大大小小融资的垂直电商也在到处找有效流量，阿里京东POP卖家也缺流量，有效的流量在哪里？</p>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <figure class="span2"> <img class="img-circle" src="__STATIC__/home/images/portfolio/news/newslist2_4.jpg" alt=""> </figure>
                        <div class="span6">
                            <h4><a href="{:url('news/newsxq')}">工商局：电商平台缺乏监管，致假货横行</a></h4>
                            <div class="comment_name"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2015-01-09. &nbsp;&nbsp;&nbsp;作者：张洁 </div>
                            <div class="the_comment">
                                <p>法制晚报讯河北兴隆县产的“比利时”巧克力，为何能够进入京东商城、聚美优品、亚马逊、一号店、拉手网、淘宝等众多知名电商网站平台?工商局工作人员、电子商务研究员、律师等各方人士都作出了自己的分析。有工商局内部人士指出为，电商平台缺乏监管，致假货横行。有的电商为了提高利润，甚至对违法经营睁只眼闭只眼...</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <figure class="span2"> <img class="img-circle" src="__STATIC__/home/images/portfolio/news/newslist2_5.jpg" alt=""> </figure>
                        <div class="span6">
                            <h4><a href="{:url('news/newsxq')}">商务部跨境电商综试区扩围城市选择考虑五个条件</a></h4>
                            <div class="comment_name"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2015-01-05. &nbsp;&nbsp;&nbsp;作者：张洁 </div>
                            <div class="the_comment">
                                <p>商务部部长助理张骥8日说，跨境电商综试区扩围城市名单将在国务院批复以后对外正式公布。这些城市的选择主要考虑外贸进出口规模等五个条件...</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <figure class="span2"> <img class="img-circle" src="__STATIC__/home/images/portfolio/news/newslist2_6.jpg" alt=""> </figure>
                        <div class="span6">
                            <h4><a href="{:url('news/newsxq')}">《世界借跨境电商买“中国制造”》</a></h4>
                            <div class="comment_name"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2015-12-20. &nbsp;&nbsp;&nbsp;作者：张洁 </div>
                            <div class="the_comment">
                                <p>12月20日起，中韩自由贸易协定(FTA)将正式生效，且迎来第一次降税，预计明年1月1日还将进行第二次降税，“海淘”的中国消费者有望买到更加实惠的韩货。而当国内消费者都在趁“双11”、“双12”抢购各种海淘、网购商品的同时，欧洲人也在通过互联网采购着中国商品。越来越多的国家也更加愿意接受人民币，人民币国际化进程提速...</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <figure class="span2"> <img class="img-circle" src="__STATIC__/home/images/portfolio/news/newslist2_7.jpg" alt=""> </figure>
                        <div class="span6">
                            <h4><a href="{:url('news/newsxq')}">江永与京东签署战略合作协议携手推进电子商务进农村</a></h4>
                            <div class="comment_name"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2015-12-11. &nbsp;&nbsp;&nbsp;作者：张洁 </div>
                            <div class="the_comment">
                                <p>12月11日上午，江永县政府与武汉京东世纪贸易有限公司签署《关于电子商务进农村战略合作协议》。这意味着继“湘村购”、“村淘”、“邮乐购”等知名电商平台后，江永县的有志青年又多了一个便捷的创业平台...</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <figure class="span2"> <img class="img-circle" src="__STATIC__/home/images/portfolio/news/newslist2_8.png" alt=""> </figure>
                        <div class="span6">
                            <h4><a href="{:url('news/newsxq')}">《中国电商走进俄罗斯百姓家》</a></h4>
                            <div class="comment_name"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2015-12-06. &nbsp;&nbsp;&nbsp;作者：张洁 </div>
                            <div class="the_comment">
                                <p>中国各大电商纷纷进入俄罗斯市场。中国电商平台依靠价格优势及商品质量，深受俄罗斯顾客欢迎。据中国电商介绍，今年“双十一”及俄罗斯“黑色星期五”期间，100余万件包裹被送至俄罗斯。2014年，中俄网上跨境贸易额超过20亿美元，越来越多的中国商家对俄罗斯市场兴趣大增...</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <figure class="span2"> <img class="img-circle" src="__STATIC__/home/images/portfolio/news/newslist2_9.jpg" alt=""> </figure>
                        <div class="span6">
                            <h4><a href="{:url('news/newsxq')}">“互联网+”：制造强国的新引擎</a></h4>
                            <div class="comment_name"><img src="__STATIC__/home/images/times.png" width="12" height="12"></i> 2015-11-03. &nbsp;&nbsp;&nbsp;作者：张洁 </div>
                            <div class="the_comment">
                                <p>互联网与制造业的融合正在日益加深，成为新一轮工业革命的发展方向和国际先进制造业竞争的制高点。我国是制造业大国，也是互联网大国，互联网与制造业融合空间广阔，潜力巨大。在这一过程中，要牢牢把握机遇，积极应对挑战，加快推进“互联网+制造”发展，推动我国制造业由大变强...</p>
                            </div>
                        </div>
                    </div>
                    <div class="pagination pagination-centered">
                        <ul>
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
                <div id="sidebar" class="span4">
                    <aside class="widget">
                        <h4>类 别</h4>
                        <ul class="nav nav-tabs nav-stacked">
                            <li class="active"><a href="#">所有新闻</a></li>
                            <li><a href="#">公司资讯</a></li>
                            <li><a href="#">行业资讯</a></li>
                            <li><a href="#">视频资讯</a></li>
                        </ul>
                    </aside>
                    <aside class="widget">
                        <h4>《握全球资讯，做世界宠儿》</h4>
                        <p>21世纪是一个资讯的时代，成功最重要的关键就是掌握最新最好的资讯。生活中，无论是个人还是企业，都会遇见各种各样的困难，遇到一些瓶颈。所有瓶颈其实都是来自于资讯不够。掌握更多的资讯，才能知道如何突破，才能做出正确的判断。</p>
                    </aside>
                    <aside class="widget">
                        <h4>简介</h4>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a data-toggle="tab" href="#recent">公司资讯</a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div id="recent" class="tab-pane fade active in">
                                <ul class="media-list">
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(__STATIC__/home/images/portfolio/news/newslist1_1.jpg)"></a> <a href="#" class="media-date">19<span>2015/12</span></a>
                                        <h5 class="media-heading"><a href="#">全球名品·阳光生活馆团队学习交流会昨日在成都圆满召开</a></h5>
                                        <p>寒风起兮云飞扬，难得好友来四方！昨日，来自全国各地的全球阳光团队领导人汇聚成都全球阳光会馆，共同探讨全球阳光集团的新发展...</p>
                                    </li>
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(__STATIC__/home/images/portfolio/news/newslist1_2.jpg)"></a> <a href="#" class="media-date">18<span>2015/12</span></a>
                                        <h5 class="media-heading"><a href="#">阳光熊猫梦工程达州市场工作正有序开展</a></h5>
                                        <p> 年头岁尾，阳光熊猫梦工程达州市场的启动面临巨大考验，市场专员的工作内容和工作方式也遭遇了很多问题，为保证阳光熊猫梦工程的推广工作有序进行...</p>
                                    </li>
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(__STATIC__/home/images/portfolio/news/newslist1_3.jpg)"></a> <a href="#" class="media-date">15<span>2015/12</span></a>
                                        <h5 class="media-heading"><a href="#">阳光量子生活照亮达州</a></h5>
                                        <p>自2015年12月15日起，受四川全球阳光实业开发有限公司、四川全球名品电子商务股份有限公司授权...</p>
                                    </li>
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(__STATIC__/home/images/portfolio/news/newslist1_4.jpg)"></a> <a href="#" class="media-date">08<span>2015/12</span></a>
                                        <h5 class="media-heading"><a href="#">全球阳光生活馆及阳光熊猫会员卡发行工程试运营启动会日前在成都</a></h5>
                                        <p> 为了使会员朋友们更好地了解阳光熊猫会员卡发行工程、阳光生活馆及全球阳光会馆的经营结构和经营项目...</p>
                                    </li>
                                </ul>
                            </div>
                            <!--<div id="tags" class="tab-pane fade"> <a class="label">Default</a> <a class="label label-success">Success</a> <a class="label label-warning">Warning</a> <a class="label label-important">Important</a> <a class="label label-info">Info</a> <a class="label label-inverse">Inverse</a> <a class="label">Default</a> <a class="label label-success">Success</a> <a class="label label-important">Important</a> <a class="label label-info">Info</a> <a class="label label-inverse">Inverse</a> <a class="label">Default</a> <a class="label label-success">Success</a> <a class="label label-success">Success</a> <a class="label label-warning">Warning</a> <a class="label label-important">Important</a> <a class="label label-warning">Warning</a> <a class="label label-warning">Warning</a> <a class="label label-important">Important</a> <a class="label label-info">Info</a> <a class="label label-inverse">Inverse</a> </div>-->
                        </div>
                    </aside>
                    <aside class="widget ads clearfix">
                        <h4>战略合作伙伴</h4>
                        <a href="#"><img src="__STATIC__/home/images/portfolio/news/huiguan.png" alt="" /></a>
                        <a href="#"><img src="__STATIC__/home/images/portfolio/news/qqyg.png" alt="" /></a>
                        <a href="#"><img src="__STATIC__/home/images/portfolio/news/qqygmp.png" alt="" /></a>
                        <a href="#"><img src="__STATIC__/home/images/portfolio/news/qqygsy.png" alt="" /></a>
                    </aside>

                </div>
            </div>
        </section>
    </div>
{/block}