{extend name="base"}
{block name="content"}
<div id="main">
    <div class="container">
        <section id="blog">
            <div class="hgroup">
                <h1>新闻资讯</h1>
                <h2>知己知彼，百战不殆。在这里掌控最新的行业资讯和公司资讯，掌控阳光时尚新生活！</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{:url('index/index')}">首页</a> <span class="divider">/</span></li>
                    <li class="active">新闻资讯</li>
                </ul>
            </div>
            <div class="row">
                <div id="leftcol" class="span8">
                    <article class="post">
                        <div class="post_header">
                            <h3 class="post_title">公司资讯</h3>
                            <h4 class="post_title"><a href="newsxiangqing.html">全球名品·阳光生活馆团队学习交流会昨日在成都圆满召开</a></h4>
                            <div class="post_sub"><img src="__STATIC__/home/images/times.png" width="12" height="12"> 2015-12-21. 作者：张洁</div>
                        </div>
                        <div class="post_content">
                            <figure><a href="newsxiangqing.html"><img alt="0" src="__STATIC__/home/images/portfolio/news/newslist1_1.jpg" width="100%"/></a></figure>
                            <p>寒风起兮云飞扬，难得好友来四方！昨日，来自全国各地的全球阳光团队领导人汇聚成都全球阳光会馆，共同探讨全球阳光集团的新发展、新方向，学习交流工作中遭遇的各类问题及解决办法...</p>
                            <a href="{:url('news/gszx')}" class="btn btn-primary">查看更多</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post_header">
                            <h3 class="post_title">行业资讯</h3>
                            <h4 class="post_title"><a href="newsxiangqing.html">商务部：2015年跨境电子商务增速高达30%</a></h4>
                            <div class="post_sub"><img src="__STATIC__/home/images/times.png" width="12" height="12"> 2016-01-20. 作者：张洁</div>
                        </div>
                        <div class="post_content">
                            <figure><a href="newsxiangqing.html"><img alt="0" src="__STATIC__/home/images/portfolio/news/newslist2_1.jpg" width="100%"/></a></figure>
                            <p>据中国之声《央广新闻》报道，商务部发布2015年商务运行情况并回应热点问题，我们先来看内贸的情况，2015年国内消费市场的运行总体平稳，并且呈现前低后高，小幅波动的态势。全年实现社会消费品零售总额是30.1万亿元，同比增长10.7% ...</p>
                            <a href="{:url('news/hyzx')}" class="btn btn-primary">查看更多</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post_header">
                            <h3 class="post_title">视频资讯</h3>
                            <!--<h4>今天是个好日子</h4>-->
                            <!--<div class="post_sub"><img src="images/times.png" width="12" height="12"> February 3, 2013 <a href="newsxiangqing.html#post_comments"><i class="icon-comments-alt"></i> 6 comments</a> </div>-->
                        </div>
                        <div class="post_content" >
                            <figure style="height: 435px;">
                                <!--<iframe src="http://player.vimeo.com/video/50924290?title=0&amp;byline=0&amp;portrait=0" width="100%" height="400" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>-->
                                <video style="background: black;" width="100%" height="auto" src="__STATIC__/home/video/qqmp.mp4" poster="__STATIC__/home/images/video1.jpg"  controls="controls"></video>
                            </figure>
                            <p>全球名品宣传片....</p>
                            <a href="{:url('news/spzx')}" class="btn btn-primary">观看更多</a>
                        </div>
                    </article>

                    <div class="pagination pagination-centered">
                        <ul>
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
                <div id="sidebar" class="span4">
                    <aside class="widget">
                        <h4>类 别</h4>
                        <ul class="nav nav-tabs nav-stacked">
                            <li class="active"><a href="#">所有新闻</a></li>
                            <li><a href="#">公司资讯</a></li>
                            <li><a href="#">行业资讯</a></li>
                            <li><a href="#">视频资讯</a></li>
                        </ul>
                    </aside><br/><br/><br/>
                    <aside class="widget">
                        <h4>《握全球资讯，做世界宠儿》</h4>
                        <p>21世纪是一个资讯的时代，成功最重要的关键就是掌握最新最好的资讯。生活中，无论是个人还是企业，都会遇见各种各样的困难，遇到一些瓶颈。所有瓶颈其实都是来自于资讯不够。掌握更多的资讯，才能知道如何突破，才能做出正确的判断。</p>
                    </aside><br/><br/><br/>
                    <aside class="widget">
                        <h4>简介</h4>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a data-toggle="tab" href="#recent">公司资讯</a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div id="recent" class="tab-pane fade active in">
                                <ul class="media-list">
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(__STATIC__/home/images/portfolio/news/newslist1_1.jpg)"></a> <a href="#" class="media-date">19<span>2015/12</span></a>
                                        <h5 class="media-heading"><a href="#">全球名品·阳光生活馆团队学习交流会昨日在成都圆满召开</a></h5>
                                        <p>寒风起兮云飞扬，难得好友来四方！昨日，来自全国各地的全球阳光团队领导人汇聚成都全球阳光会馆，共同探讨全球阳光集团的新发展...</p>
                                    </li><br/>
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(__STATIC__/home/images/portfolio/news/newslist1_2.jpg)"></a> <a href="#" class="media-date">18<span>2015/12</span></a>
                                        <h5 class="media-heading"><a href="#">阳光熊猫梦工程达州市场工作正有序开展</a></h5>
                                        <p> 年头岁尾，阳光熊猫梦工程达州市场的启动面临巨大考验，市场专员的工作内容和工作方式也遭遇了很多问题，为保证阳光熊猫梦工程的推广工作有序进行...</p>
                                    </li><br/>
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(__STATIC__/home/images/portfolio/news/newslist1_3.jpg)"></a> <a href="#" class="media-date">15<span>2015/12</span></a>
                                        <h5 class="media-heading"><a href="#">阳光量子生活照亮达州</a></h5>
                                        <p>自2015年12月15日起，受四川全球阳光实业开发有限公司、四川全球名品电子商务股份有限公司授权...</p>
                                    </li><br/>
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(__STATIC__/home/images/portfolio/news/newslist1_4.jpg)"></a> <a href="#" class="media-date">08<span>2015/12</span></a>
                                        <h5 class="media-heading"><a href="#">全球阳光生活馆及阳光熊猫会员卡发行工程试运营启动会日前在成都</a></h5>
                                        <p> 为了使会员朋友们更好地了解阳光熊猫会员卡发行工程、阳光生活馆及全球阳光会馆的经营结构和经营项目...</p>
                                    </li><br/>
                                </ul>
                            </div>
                            <!--<div id="tags" class="tab-pane fade"> <a class="label">Default</a> <a class="label label-success">Success</a> <a class="label label-warning">Warning</a> <a class="label label-important">Important</a> <a class="label label-info">Info</a> <a class="label label-inverse">Inverse</a> <a class="label">Default</a> <a class="label label-success">Success</a> <a class="label label-important">Important</a> <a class="label label-info">Info</a> <a class="label label-inverse">Inverse</a> <a class="label">Default</a> <a class="label label-success">Success</a> <a class="label label-success">Success</a> <a class="label label-warning">Warning</a> <a class="label label-important">Important</a> <a class="label label-warning">Warning</a> <a class="label label-warning">Warning</a> <a class="label label-important">Important</a> <a class="label label-info">Info</a> <a class="label label-inverse">Inverse</a> </div>-->
                        </div>
                    </aside><br/>
                    <aside class="widget ads clearfix">
                        <h4>战略合作伙伴</h4>
                        <a href="#"><img src="__STATIC__/home/images/portfolio/news/huiguan.png" alt="" /></a>
                        <a href="#"><img src="__STATIC__/home/images/portfolio/news/qqyg.png" alt="" /></a>
                        <a href="#"><img src="__STATIC__/home/images/portfolio/news/qqygmp.png" alt="" /></a>
                        <a href="#"><img src="__STATIC__/home/images/portfolio/news/qqygsy.png" alt="" /></a>
                    </aside>

                </div>
            </div>
        </section>
    </div>

{/block}