{extend name="base"}
{block name="content"}
<div id="main">
    <div class="container">
        <section id="blog">
            <div class="hgroup">
                <ul class="breadcrumb pull-right">
                    <li><a href="{:url('index/index')}">首页</a> <span class="divider">/</span></li>
                    <li><a href="{:url('news/index')}">新闻资讯</a><span class="divider">/</span></li>
                    <li class="active">新闻详情</li>
                </ul>
            </div>
            <h3>全球名品·阳光生活馆团队学习交流会昨日在成都圆满召开</h3>
            <h4><img src="__STATIC__/home/images/times.png" width="16" height="16"> 2015-12-21. &nbsp;&nbsp;&nbsp;作者:张洁</h4>
            <div class="row">
                <div id="leftcol" class="span12">
                    <article class="post">
                        <div class="post_content">
                            <figure><img alt="0" src="__STATIC__/home/images/portfolio/news/newslist1_1.jpg" width="100%"/></figure>
                            <!--<blockquote>-->
                            <p>寒风起兮云飞扬，难得好友来四方！昨日，来自全国各地的全球阳光团队领导人汇聚成都全球阳光会馆，共同探讨全球阳光集团的新发展、新方向，学习交流工作中遭遇的各类问题及解决办法。</p>
                            <p>公司运营负责人汤胜林经理首先对全球阳光实业开发有限公司的现有规模和发展方向作出指示，汤经理说到，此时正是把握行业脉搏，寻找突破和发展的好时机。我们要坚持以“阳光、生态、健康、财富、和谐、关爱”六大主题为指导思想，坚持采用移动互联网平台+电子商务+产品配送+商务代表+互助联盟的经营模式，运用商业联盟、连锁经营、众筹联盟、股权基金等经营方式，将量子产品做大、做强，将阳光熊猫卡推向世界，推广全球阳光商学院至各大高校，推动阳光会馆的各项沙龙活动在世界各地有序开展，将“全球阳光行，阳光熊猫梦”传递到世界的每一个角落。</p>
                            <p>阳光生活馆的杨文鹏主管随后就全球阳光旗下阳光生活馆及商务中心的运作模式作详细阐述，杨主管用非常简单明了的树状分析图讲解了商务代表的签商家、邀听课、跟加盟、售股权、促零售等9项工作内容以及阳光生活馆的分类、加盟方式、拓展业务、奖项发放制度。文案组组长张洁补充介绍了会馆的功能及服务方式，“我们有商务、单身、交友、语言、健康、乐活、车友、财富、总裁等九大俱乐部，会员们可参加俱乐部举办的单身交友、各类培训、讲座、旅游、展会、品茗等9项活动，可获取商业联盟提供的优惠折扣、免费体检、定制类服务等9大功能，全球阳光旗下的阳光生活馆、商务中心、会馆无缝衔接，相辅相成，共同发展。</p>
                            <p>来自全球名品产品配送部主管向斌系统讲解了物流配送的职责、目的和流程，从来货入库、配货发货、调拨、物流服务四大板块一个系统，有条理、有规则地讲述了全球名品对客户反映的物流问题的及时处理办法，向主管现场讲述了公司所用物流系统——管家婆ERP分销系统，并现场展示了其所出的票单，指出会员朋友们容易忽略的地方，用行动诠释公司让客户放心，令客户满意的宗旨。针对发货顺延，向主管介绍到“公司财务人员确认货款到账以后，物流部将在三天内对客户所下订单产品进行配送，不过，一旦遇到节假日，发货将会顺延，希望会员朋友们能够理解。</p>
                            <p>来自全球名品的财务主管缪丽娜讲解了公司对加盟商合法经营、依法纳税、结算方式、用章情况的要求以及公司咨询流、物流、金流三流不断的操作模式。全球阳光财务主管陈发琼随后补充说明了公司奖金及加盟费的分类和结算方式。陈主管说到：“若手续齐全，我们的工作人员将会在10个工作日后发放拓展奖金，管理奖与代理奖将在月底进行汇总，次月15日至18日进行结算，节假日顺延。”</p>
                            <p>会议上，量子技术专家李继东分享了量子在21世纪的发展和实用性，并现场邀请朋友实际感受量子芯片卡储备健康信息、调整失衡频率的奇特高科技功效。在讲解量子车贴省油、提速快、优化尾气的功能时，李总更是拿出了量子车贴，实物展示了这项颠覆传统的产品。随后，李总现场展示说明了生物超能壶的双层隔热、促进人体代谢、促进营养物质的吸收等功能及操作方法，更邀请现场朋友品尝经过生物超能壶处理了的量子水，会员朋友纷纷表示，量子水口感纯正，品尝后有身心通畅之感。</p>
                            <p>最后，四川全球阳光实业开发有限公司总裁、四川全球名品电子商务股份有限公司运营总裁甘在川总结了全球阳光系统的专业性、科学性和可发展性，补充说明了全球阳光旗下阳光生活馆、商务中心、会馆三大机构的特点和发展方向。新的征程已经启航，希望在座的朋友同全球阳光集团一起，同全球阳光实业开发有限公司一起，同所有全球阳光人一起，求同存异，众志成城，把握时机，砥砺前行，收获更多的财富和喜悦！</p>
                            <!--</blockquote>-->
                        </div>
                    </article>
                    <ul class="pager">
                        <li class="previous disabled"><a href="#">← 上一篇</a></li>
                        <li class="next"><a href="#">下一篇 →</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
{/block}