{extend name="base"}
{block name="content"}
<div id="main">
    <div class="container">
        <section id="portfolio_item">
            <div class="hgroup">
                <h1>产品介绍</h1>
                <h2>我们一直坚持以市场市场标准是最高标准严苛要求自己的产品和服务，渴望用我们一流的产品和最优质的服务为您创造阳光生活。</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">首页</a> <span class="divider">/</span></li>
                    <li><a href="{:url('showlist/index')}">产品介绍</a> <span class="divider">/</span></li>
                    <li class="active">产品详情</li>
                </ul>
            </div>
            <section id="portfolio_slider_wrapper"  style="width: 900px;margin: auto;">
                <div class="flexslider" id="portfolio_slider">
                    <ul class="slides">
                        <li class="item" data-thumb="__STATIC__/home/images/portfolio/chanpin1.jpg" style="background-image: url(__STATIC__/home/images/portfolio/chanpin1.jpg)">
                            <div class="container"> <a href="__STATIC__/home/images/portfolio/chanpin1.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead" style="width: 400px;">美酵主酵素,我们一直坚持以市场市场标准是最高标准严苛要求自己的产品和服务，渴望用我们一流的产品和最优质的服务为您创造阳光生活。</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="__STATIC__/home/images/portfolio/chanpin1.jpg" style="background-image: url(__STATIC__/home/images/portfolio/chanpin1.jpg)">
                            <div class="container"> <a href="__STATIC__/home/images/portfolio/chanpin1.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">美酵主酵素</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="__STATIC__/home/images/portfolio/chanpin1.jpg" style="background-image: url(__STATIC__/home/images/portfolio/chanpin1.jpg)">
                            <div class="container"> <a href="__STATIC__/home/images/portfolio/chanpin1.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">美酵主酵素</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="images/portfolio/chanpin1.jpg" style="background-image: url(__STATIC__/home/images/portfolio/chanpin1.jpg)">
                            <div class="container"> <a href="__STATIC__/home/images/portfolio/chanpin1.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">美酵主酵素</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="__STATIC__/home/images/portfolio/chanpin1.jpg" style="background-image: url(__STATIC__/home/images/portfolio/chanpin1.jpg)">
                            <div class="container"> <a href="__STATIC__/home/images/portfolio/chanpin1.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">美酵主酵素</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="__STATIC__/home/images/portfolio/chanpin1.jpg" style="background-image: url(__STATIC__/home/images/portfolio/chanpin1.jpg)">
                            <div class="container"> <a href="__STATIC__/home/images/portfolio/chanpin1.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">美酵主酵素</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="__STATIC__/home/images/portfolio/chanpin1.jpg" style="background-image: url(__STATIC__/home/images/portfolio/chanpin1.jpg)">
                            <div class="container"> <a href="__STATIC__/home/images/portfolio/chanpin1.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">o美酵主酵素</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="__STATIC__/home/images/portfolio/chanpin1.jpg" style="background-image: url(__STATIC__/home/images/portfolio/chanpin1.jpg)">
                            <div class="container"> <a href="__STATIC__/home/__STATIC__/home/images/portfolio/chanpin1.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">美酵主酵素</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="carousel" class="flexslider">
                    <ul class="slides">
                        <li> <img src="__STATIC__/home/images/portfolio/chanpin1.jpg" alt="" /> </li>
                        <li> <img src="__STATIC__/home/images/portfolio/chanpin1.jpg" alt="" /> </li>
                        <li> <img src="__STATIC__/home/images/portfolio/chanpin1.jpg" alt="" /> </li>
                        <li> <img src="__STATIC__/home/images/portfolio/chanpin1.jpg" alt="" /> </li>
                        <li> <img src="__STATIC__/home/images/portfolio/chanpin1.jpg" alt="" /> </li>
                        <li> <img src="__STATIC__/home/images/portfolio/chanpin1.jpg" alt="" /> </li>
                        <li> <img src="__STATIC__/home/images/portfolio/chanpin1.jpg" alt="" /> </li>
                        <li> <img src="__STATIC__/home/images/portfolio/chanpin1.jpg" alt="" /> </li>
                    </ul>
                </div>
            </section>
            <article style="width: 900px;margin:auto;">
                <div class="row">
                    <div class="span6">
                        <p class="well">美酵主酵素是xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                    </div>
                    <div class="span3 well border-box" style="float: right;width: 300px;">
                        <p style="text-indent: 0;"><strong>产品名称:</strong> 美酵主酵素</p>
                        <p style="text-indent: 0;"><strong>产品价格:</strong> ¥1280</p>
                        <p style="text-indent: 0;"><strong>产品规格:</strong> 500ml</p>
                        <p style="text-indent: 0;"><strong>产品价格:</strong> xxxx</p>
                    </div>
                </div>
            </article>
            <!--<ul class="pager">-->
            <!--<li class="previous disabled"><a href="#">← 上一篇</a></li>-->
            <!--<li class="next"><a href="#">下一篇 →</a></li>-->
            <!--</ul>-->
        </section>
    </div>
{/block}