{extend name="base"/}
{block name="content"}
<div id="main">
    <div class="container">
        <section id="blog">
            <div class="hgroup">
                <h1>量子技术</h1>
                <h2>Quantum Technologies！</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{:url('index/index')}">首页</a> <span class="divider">/</span></li>
                    <li class="active">量子技术</li>
                </ul>
            </div>
            <div class="row">
                <div id="leftcol" class="span8">
                    <article class="post">
                        <div class="post_content">
                            <p>一个物理量如果有最小的单元而不可连续的分割，就说这个物理量是量子化的，我们把最小的单元称为量子。它能在与水接触的一瞬间迅速捕捉空气及水中的游离电子，释放出强大的磁化能量波和负氢离子，形成内聚力强、分子间吸附力小且具有活性的小分子团水。</p>
                            <p>这种小分子团水可以迅速调整失衡细胞的振动频率，能够有效激活人体酶系统，恢复细胞正常运动，促进人体自身的解毒和排毒，提高人体自身的免疫系统。而负氢离子则具有去除自由基、增强生命动能（ATP）的功能。它是宇宙中最小、最强的抗氧化的物质，能促进营养物质的吸收和代谢、细胞内补水。能作用于线粒体DNA，修复受损的片段。</p>
                            <p>量子以“物理改变化学”的原理改变科技发展过程中所遗留的问题，独有的同频共振的物理作用，被大量应用于水处理、化学性食品安全问题、高级功能性生物化妆品以及医疗医药、信息技术等诸多方面的使用。量子正在以“科学改变未来”的神奇颠覆我们的生活。</p>
                        </div>
                    </article>
                    <article class="post">
                        <div class="bs-docs-example">
                            <div id="accordion2" class="accordion">
                                <div class="accordion-group">
                                    <div class="accordion-heading"> <a href="#collapse1" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"> 【量子力学】 </a> </div>
                                    <div class="accordion-body collapse in" id="collapse1">
                                        <div class="accordion-inner">
                                            <p>量子力学主要研究原子、分子、凝聚态物质，以及原子核和基本粒子的结构、性质的基础理论，它与相对论一起构成了现代物理学的理论基础。在化学等有关学科和许多近代技术中也得到了广泛的应用。</p>
                                            <p>量子力学是在20世纪初由马克斯·普朗克、尼尔斯·玻尔、沃纳·海森堡、埃尔温·薛定谔、沃尔夫冈·泡利、路易·德布罗意、马克斯·玻恩、恩里科·费米、保罗·狄拉克、阿尔伯特·爱因斯坦、康普顿等一大批物理学家共同创立的。通过量子力学的发展人们对物质的结构以及其相互作用的见解被革命化地改变。其中被爱因斯坦称之为“鬼魅似的远距作用”的量子纠缠称论述尤为突出。量子纠缠描述了两个粒子互相纠缠，即使相距遥远距离，或根本不在同一个空间，一个粒子的行为将会影响另一个的状态。当其中一颗被操作（例如量子测量）而状态发生变化，另一颗也会即刻发生相应的状态变化。这并不是诡异的说辞，而是已经在实验中获得的现象，科学家还希望能够建造量子计算机，利用粒子纠缠进行超高速计算。</p>
                                            <p>在许多现代技术装备中，量子力学的效应同样起着重要的作用。从激光、电子显微镜、原子钟到核磁共振的医学图像显示装置，到对半导体的研究导致了二极管和三极管的发明；再到核武器的发明过程，量子力学的概念都起着关键作用。甚至在我们生活中的电电滴滴，量子鬼魅似的超强穿透力被运用到打通人体堵塞，治疗患病部位，促进新陈代谢及身体各细胞的活性来达到预防保健功能。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-group">
                                    <div class="accordion-heading"> <a href="#collapse2" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"> 【量子医学】 </a> </div>
                                    <div class="accordion-body collapse" id="collapse2">
                                        <div class="accordion-inner">
                                            <p>量子医学是在现代科学，特别是现代物理学和现代生物医学的影响和渗透下萌发而出的。早在1944年，奥地利物理学家薛定谔在《生命是什么》一书中，就试图把量子力学、热力学和生命科学的研究结合起来。如今，已经发展为可以用量子力学原理来阐明生物分子的结构及其功能，并且进一步阐明细胞的分化和新陈代谢的机理、遗传和变异、衰老和癌变、药物的应用等领域。2007年量子医学与草本植物的应用相结合，震惊世界。2014年量子医学与日常家电的结合将量子带进世界的千家万户。</p>
                                            <p>植入了量子技术的小家电，量子级处理我们身边的最普通的自来水，赋予水高阶波动能量，强化水的活性，人们可以通过使用量子水就能达到预防和治疗身体各器官机能的效果。当今社会，水污染、空气污染、食物质量问题一直是社会关注的重点，科学家对将量子运用到对水、空气和食物的处理，让普通群众也能享受量子带来的神奇享受。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-group">
                                    <div class="accordion-heading"> <a href="#collapse3" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"> 【量子信息技术】 </a> </div>
                                    <div class="accordion-body collapse" id="collapse3">
                                        <div class="accordion-inner">
                                            <b style="color: #0085c8;">高速运算：</b>
                                            <p>曾创作出《侏罗纪公园》和《失去的世界》等作品的著名科幻作家迈克尔·克莱顿，在科幻小说《时间线》中曾尝试用文学的笔调来想象量子计算的神奇。其中，一家名为国际技术公司的经理们如此推销其眼中的高新科技：“普通的计算机用电子的两种状态计算，这两种状态被定为0和1。但在20年前，理查德·费曼就提出，有可能利用电子所有的32个量子态来进行快速计算。现在有诸多实验室正在试图制造这样的计算机。”</p>

                                            <b style="color: #0085c8;">量子密码：</b>
                                            <p>近年来，谍战剧热播我国荧屏，围绕着夺取情报、破译密码，一个个斗智斗勇的故事，吸引了无数观众的眼球。然而很多人并不知道，随着量子信息技术的发展，密码通讯正在迎来划时代的变化，一种永远无法破译的密码或将在不远的未来登上军事斗争舞台。伴随着量子信息科技的持续发展，未来这一幻想不是没有实现的可能，与“量子纠缠”密切关联的“量子态隐形传输”则正在变为现实。</p>
                                            <p>显然，这一量子通信技术在军事应用方面有着无与伦比的广阔前景，量子隐形通信系统将建立在各类作战指挥控制体系之间和各种侦察预警系统、主要作战平台以及量子微空间武器系统之中，构建出更加坚固的防御系统。而在商业作战中，商家对商业机密的保护若结合量子技术，将会得到更加完善的保护。</p>

                                            <b style="color: #0085c8;">量子通信：</b>
                                            <p>量子信息化战场的通信网络，以其超大信道容量、超高通信速率等特性，在未来的信息化战争中扮演无可替代的角色。亦正因此，近年来，美国国防高级研究计划署启动了多项量子通信方面的相关研究计划。英国、德国、日本等国也都将量子通信技术纳入议程，对其开展了广泛的探索。而在中国，科学家已经启动探索研究量子通信的计划并获得了一定的研究成果。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-group">
                                    <div class="accordion-heading"> <a href="#collapse4" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"> 【全球名品·量子产品】 </a> </div>
                                    <div class="accordion-body collapse" id="collapse4">
                                        <div class="accordion-inner">
                                            <p>在对这项改变全人类的量子研究中，勇于拼搏的全球名品科研团队力学不倦、力学笃行、力争上游，在量子领域的研究终于获得突破性进展。我们在量子技术的基础上植入上百个行业的尖端技术，将一件又一件与生活息息相关的量子级生活物品通过全球名品电子商务平台和全球名品·阳光生活馆向全世界的人们推广。</p>
                                            <p>全球名品科研团队新近推出的四维量子产品一经推出，就迅速以其生态、环保、优质、科技含量重、权威、实用等特点获得口碑和销量的肯定。未来，我们将更加尽心竭力的钻研，给大众带来更多真正放心的实用性健康产品。传递正能量，帮助人们健康快乐的生活是我们的责任。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <b style="color: #0085c8;">全球名品现售量子产品：</b>
                        <p>四维量子超能瓶、四维量子壶、四维量子镜、量子龙头宝、量子富氢发生器、量子佛珠、量子芯片卡、量子补钙仪、生物超能壶、量子消毒液制造机······</p>
                    </article>
                </div>
                <div id="sidebar" class="span4">
             
                    <div id="portfolio_container" class="portfolio_masonry row">

                        <div class="portfolio_item cat_just_photos ">
                            <a rel='prettyPhoto' href="__STATIC__/home/lz8.jpg"> <img src="__STATIC__/home/lz8.jpg" alt="量子通信受到高度关注" />
                                <div class="overlay">
                                    <div class="desc"> <img src="__STATIC__/home/yuanquan.png"/> </div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio_item cat_just_photos ">
                            <a rel='prettyPhoto' href="__STATIC__/home/lz1.jpg"> <img src="__STATIC__/home/lz1.jpg" alt="研究发下神秘量子纠缠或与虫洞有关" />
                                <div class="overlay">
                                    <div class="desc"> <img src="__STATIC__/home/yuanquan.png"/> </div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio_item cat_just_photos ">
                            <a rel='prettyPhoto' href="__STATIC__/home/lz5.jpg"> <img src="__STATIC__/home/lz5.jpg" alt="量子科技" />
                                <div class="overlay">
                                    <div class="desc"> <img src="__STATIC__/home/yuanquan.png"/> </div>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio_item cat_just_photos ">
                            <a rel='prettyPhoto' href="__STATIC__/home/lz4.jpg"> <img src="__STATIC__/home/lz4.jpg" alt="物理学家首次观察到量子磁性" />
                                <div class="overlay">
                                    <div class="desc"> <img src="__STATIC__/home/yuanquan.png"/> </div>
                                </div>
                            </a>
                        </div>

                        <div class="portfolio_item cat_just_photos ">
                            <a rel='prettyPhoto' href="__STATIC__/home/lz2.jpg"> <img src="__STATIC__/home/lz2.jpg" alt="量子点QLED技术解析" />
                                <div class="overlay">
                                    <div class="desc"> <img src="__STATIC__/home/yuanquan.png"/> </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{/block}