{extend name="base"/}
{block name="content"}
<div id="main">
    <div class="container">
        <section id="services">
            <div class="hgroup">
                <h1>阳光生活馆</h1>
                <h2>Sunshine Living Museum !</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{:url('index/index')}">首页</a> <span class="divider">/</span></li>
                    <li class="active">阳光生活馆</li>
                </ul>
            </div>

            <article>
                <div class="row">
                    <div class="span9">
                        <p align="left" style="height:220px;line-height:20px;margin:0;overflow-y:auto; overflow-x:hidden;text-indent: 0;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全球名品·阳光生活馆是由四川全球名品电子商务股份有限公司授权四川全球阳光实业开发有限公司特别设立的一个集众多联盟商家、社会各界精英为一体的多层次生活馆。生活馆分为家庭级、社区级、区县级、市级、省级五类，除省级由公司直营，其余均可加盟。<br/>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阳光生活馆主要以健康、生态、养生、美容为经营理念，将联合大批高端会所、美容院、茶楼，养生堂作为阳光生活馆的活动场地，举办联谊、论坛、茶话、BB交流、专题讲座、专题沙龙、休闲、娱乐、运动、旅游等活动。会员还可持会员卡享受全球阳光“特许商户”的优惠折扣服务。<br/>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阳光生活馆经营业务包括全球阳光国医医药养生堂、全球阳光美容美体馆、全球阳光量子产品生活馆、全球阳光日用品生活馆、全球阳光营养有机食品生活馆。馆内主要经营产品有：阳光熊猫会员卡、量子系列产品、华西医药中医研究所医药保健品、国医养生保健品系列、竹纤维生活产品系列 、蒙顶山茶叶等相关生活类、健康类产品。<br/>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;加盟店分实行体验式消费,将电子商务、连锁经营与商务联盟完美对接，有效整合零散资源，充分体现了人文性、前瞻性、整合性和创新性。请相信，为了给您更健康的生活体验，更卓越的阳光生活，我们一直在努力。认真，是我们的态度！

                        </p>
                    </div>
                    <div class="span3">
                        <blockquote>
                            <p style="text-indent: 0;"><strong style="color: #0085C8;font-size: 18px;line-height: 45px;">生活馆种类:</strong></p>

                            <p style="text-indent: 0;"><strong>量子生活馆、国医医药生活馆</strong></p>
                            <p style="text-indent: 0;"><strong>健身生活馆、有机食品生活馆</strong></p>
                            <p style="text-indent: 0;"><strong>品茗生活馆、炭竹服装生活馆</strong></p>
                            <p style="text-indent: 0;"><strong>美容美体馆、日用品生活馆</strong></p>
                            <p style="text-indent: 0;"><strong>养生堂</strong></p><p>&nbsp;</p>
                        </blockquote>
                    </div>
                </div>
                <section class="call_to_action">
                    <img alt="responsive" src="__STATIC__/home/shenghuoguanicon.png" />
                    <h3>生活馆展示</h3>
                    <!--<h4>mouse over our team photos to see a cool effect!</h4>-->
                </section>
                <h2 class="section_header">我们真的爱我们所做的，总是试图给你最好的！</h2>
            </article>

        </section>
        <div id="portfolio_container" class="portfolio_masonry row">
            <div class="portfolio_item cat_just_photos span4">
                <a rel='prettyPhoto' href="__STATIC__/home/sh4.jpg"> <img src="__STATIC__/home/sh4.jpg" alt="签订阳光生活馆合作协议" />
                    <div class="overlay">
                        <div class="desc"> <img src="__STATIC__/home/yuanquan.png"/> </div>
                    </div>
                </a>
            </div>
            <div class="portfolio_item cat_just_photos span4">
                <a rel='prettyPhoto' href="__STATIC__/home/sh3.png"> <img src="__STATIC__/home/sh3.png" alt="签订阳光生活馆合作协议" />
                    <div class="overlay">
                        <div class="desc"> <img src="__STATIC__/home/yuanquan.png"/> </div>
                    </div>
                </a>
            </div>

            <div class="portfolio_item cat_just_photos span4">
                <a rel='prettyPhoto' href="__STATIC__/home/sh1.jpg"> <img src="__STATIC__/home/sh1.jpg" alt="全球阳光量子生活馆" />
                    <div class="overlay">
                        <div class="desc"> <img src="__STATIC__/home/yuanquan.png"/> </div>
                    </div>
                </a>
            </div>

            <div class="portfolio_item cat_just_photos span4">
                <a rel='prettyPhoto' href="__STATIC__/home/sh2.png"> <img src="__STATIC__/home/sh2.png" alt="玄道养生馆" />
                    <div class="overlay">
                        <div class="desc"> <img src="__STATIC__/home/yuanquan.png"/> </div>
                    </div>
                </a>
            </div>
            <div class="portfolio_item cat_just_photos span4">
                <a rel='prettyPhoto' href="__STATIC__/home/sh5.jpg"> <img src="__STATIC__/home/sh5.jpg" alt="玄道养生馆" />
                    <div class="overlay">
                        <div class="desc"> <img src="__STATIC__/home/yuanquan.png"/> </div>
                    </div>
                </a>
            </div>
            <div class="portfolio_item cat_just_photos span4">
                <a rel='prettyPhoto' href="__STATIC__/home/sh6.jpg"> <img src="__STATIC__/home/sh6.jpg" alt="玄道养生馆" />
                    <div class="overlay">
                        <div class="desc"> <img src="__STATIC__/home/yuanquan.png"/> </div>
                    </div>
                </a>
            </div>
            <div class="portfolio_item cat_just_photos span4">
                <a rel='prettyPhoto' href="__STATIC__/home/sh7.jpg"> <img src="__STATIC__/home/sh7.jpg" alt="玄道养生馆" />
                    <div class="overlay">
                        <div class="desc"> <img src="__STATIC__/home/yuanquan.png"/> </div>
                    </div>
                </a>
            </div>
            <div class="portfolio_item cat_just_photos span4">
                <a rel='prettyPhoto' href="__STATIC__/home/sh8.jpg"> <img src="__STATIC__/home/sh8.jpg" alt="玄道养生馆" />
                    <div class="overlay">
                        <div class="desc"> <img src="__STATIC__/home/yuanquan.png"/> </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{/block}