{extend name="base"/}
{block name="content"}
<div class="full_page_photo" style="background-image: url(__STATIC__/home/images/contact.jpg);">
    <div class="container">
        <section class="call_to_action">
            <h3 class="animated bounceInDown">服务创造价值，专业赢得信任。</h3>
            <h4 class="animated bounceInUp">我们选择低碳环保，健康乐活是我们的诉求。</h4>
        </section>
    </div>
</div>
<div id="main">
    <div class="container">
        <section id="contact">
            <div class="hgroup">
                <h1>联系方式</h1>
                <h2>Services to create value, professional win trust.</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{:url('index/index')}">首页</a> <span class="divider">/</span></li>
                    <li class="active">联系方式</li>
                </ul>
            </div>

            <script src="__STATIC__/home/js/jquery-1.9.0.min.js" type="text/javascript"></script>
            <script type="text/javascript" src="__STATIC__/home/js/jquery.kwicks-1.5.1.js"></script>
            <script type="text/javascript">
                $(function () {
                    $('.kwicks').kwicks({
                        max: 400,
                        spacing: 1
                    });
                    $('.industry-default-imgall .kwicks li').hover(
                            function () {
                                $('.cont', this).stop(true, true).animate({ 'width': '96px', 'height': '125px', 'top': '50%', 'marginTop': '-63px' }, 500);
                                $('.co', this).stop(true, true).animate({ 'left': '96px' }, 700).end().siblings().find('.co').stop(true, true).animate({ 'left': '130px' }, 1000);
                            },
                            function () {
                                $('.cont', this).stop(true, true).animate({ 'width': '100%', 'height': '101%', 'top': '50%', 'marginTop': '-161px' }, 500);
                                $('.co', this).stop(true, true).animate({ 'left': '200px' }, 500).end().siblings().find('.co').stop(true, true).animate({ 'left': '200px' }, 500)
                            }
                    );
                });
            </script>

            <!--<div class="content">-->
            <div class="nkbgb">
                <div class="qyjjwk">
                    <div class="qyjjk">
                        <div class="nrclnk">
                            <div class="industry-default-imgall">
                                <ul class="kwicks">
                                    <li id="kwick_1" onclick="" >
                                        <div class="img">
                                            <img src="__STATIC__/home/images/r1.jpg" alt=""></div>
                                        <div class="cont">
                                            <div class="p-warp">
                    <span class="simg">
                        <img src="__STATIC__/home/images/n-img1.png" alt=""></span> <span class="p">人才理念</span>
                                            </div>
                                        </div>
                                        <div class="co">
                                            金砖造金墙，杰人创强企<br/>企业靠员工发展，员工靠企业立业,企业的文化塑造员工素质，员工的表现展示企业风采，二者相辅相成，共同进步。
                                        </div>
                                    </li>
                                    <li id="kwick_2" onclick="" >
                                        <div class="img">
                                            <img src="__STATIC__/home/images/r2.jpg" alt="">
                                        </div>
                                        <div class="cont" >
                                            <div class="p-warp">
                    <span class="simg">
                        <img src="__STATIC__/home/images/n-img2.png" alt=""></span> <span class="p">育才观</span>
                                            </div>
                                        </div>
                                        <div class="co">
                                            学习永无止境。结合公司战略发展的需要，对员工进行有计划的培训，提高员工的基本素质，提高企业综合竞争力。
                                        </div>
                                    </li>
                                    <li id="kwick_3" onclick="">
                                        <div class="img">
                                            <img src="__STATIC__/home/images/r3.jpg" alt="">
                                        </div>
                                        <div class="cont">
                                            <div class="p-warp">
                    <span class="simg">
                        <img src="__STATIC__/home/images/n-img3.png" alt=""></span> <span class="p">选才观</span>
                                            </div>
                                        </div>
                                        <div class="co">
                                            德才兼备，内外并重；任人唯贤，公平竞争。选才中，个人品德是第一位，正直友善是第一位。
                                        </div>
                                    </li>
                                    <li id="kwick_4" onclick="" >
                                        <div class="img">
                                            <img src="__STATIC__/home/images/r4.jpg" alt="">
                                        </div>
                                        <div class="cont">
                                            <div class="p-warp">
                    <span class="simg">
                        <img src="__STATIC__/home/images/n-img4.png" alt=""></span> <span class="p">用才观</span>
                                            </div>
                                        </div>
                                        <div class="co">
                                            用人不疑，疑人不用，合理授权，人尽其才。分工合作，赏罚分明。
                                        </div>
                                    </li>
                                    <li id="kwick_5" onclick="">
                                        <div class="img">
                                            <img src="__STATIC__/home/images/r5.jpg" alt="">
                                        </div>
                                        <div class="cont">
                                            <div class="p-warp">
                    <span class="simg">
                        <img src="__STATIC__/home/images/n-img5.png" alt=""></span> <span class="p">留才观</span>
                                            </div>
                                        </div>
                                        <div class="co">
                                            肯定员工能力，拓展员工思维和发展空间，保障并提高员工的经济利益，以情动人，以理服人，以未来发展留人。
                                        </div>
                                    </li>


                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="span5 office_address">
                    <strong style="font-size: 16px;">Contact Us</strong>
                    <!--百度地图容器-->
                    <iframe src="__STATIC__/home/0.html" allowtransparency="true" width="452" height="252" frameborder="0" scrolling="no"></iframe>
                    <!--百度地图容器结束-->

                    <address>
                        <!--<strong>Contact Us</strong><br/>-->
                        联系电话：028-85215609<br/>
                        邮政编码：610000<br/>
                        客服 QQ：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=490875500&amp;site=qq&amp;menu=yes" target="_blank">490875500</a><br/>
                        新浪微博：<a href="http://weibo.com/u/5680587531" target="_blank">全球名品电子商务</a><br/>
                        <!--企业邮箱：<a href="mailto:qqyg@gmipi.com" target="_blank">gmipi@gmipi.com</a><br/>-->
                        企业邮箱：gmipi@gmipi.com<br/>
                        联系地址：四川省成都市锦江区阳光新业2号楼3711
                        <p></p>
                        <p></p>
                    </address>
                </div>
                <div class="span7 contact_form">
                    <form action="#" method="post" onsubmit="">
                        <div class="row">
                            <div class="span3">
                                <label>姓 名</label>
                                <input type="text" class="span3"/>
                            </div>
                            <div class="span4">
                                <label>联系邮箱</label>
                                <input type="text" class="span4"/>
                            </div>
                            <div class="span7">
                                <label>标 题</label>
                                <input type="text" class="span7"/>
                            </div>
                            <div class="span7">
                                <label>内 容</label>
                                <textarea rows="8" class="span7"></textarea>
                            </div>
                            <div class="span7"> <a class="btn btn-large btn-success"><span>提交信息</span></a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--END Contact-->
    </div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
  {/block}